@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: local('Akzidenz-Grotesk BQ Bold Condensed Alt'), local('Akzidenz-Grotesk-BQ-Bold-Condensed-Alt'),
        url('AkzidenzGroteskBQ-BdCndAlt.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-BdCndAlt.woff') format('woff'),
        url('AkzidenzGroteskBQ-BdCndAlt.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }